* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* remove tap highlight */
  outline: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
}

body {
  background: #000000;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff0844;
}

/* Navbar */

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.5s ease;
  border-bottom: 2px solid rgb(240, 52, 52);
  box-shadow: 0 3px 10px rgb(246, 246, 246);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;

    border: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, rgb(228, 28, 10), rgb(98, 0, 255));
    border-image-slice: 1;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 420px) {
  #navbar_logo {
    font-size: 25px;
  }
}

.bann-img {
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.img_text {
  position: absolute;
  z-index: 5;
  display: flex;
  top: 40%;
  left: 40%;
  font-family: "Playfair Display SC", serif;
  font-size: 50px;
  background: #ee0979;
  background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);
  background: linear-gradient(to top, #ff6a00, #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@media screen and (max-width: 960px) {
  .img_text {
    top: 30%;
    left: 35%;
    font-size: 40px;
  }
}

@media screen and (max-width: 720px) {
  .img_text {
    top: 20%;
    left: 22%;
    font-size: 35px;
  }
}

@media screen and (max-width: 430px) {
  .img_text {
    top: 22%;
    left: 16%;
    font-size: 25px;
  }
}

/* features section */

.features_container {
  width: 100%;
  background: #141414;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.heading_features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 30px 20px;
}

.heading_features h1 {
  padding-bottom: 20px;
  color: white;
  text-align: justify;
}

.heading_features p {
  color: #f6f6f6;
  text-align: justify;
}

.features_list {
  width: 100%;
  padding: 20px 90px 30px 90px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.feature_logo {
  float: left;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.feature_info h2 {
  padding: 15px;
  color: #ff0844;
}

.feature_info p {
  color: #f6f6f6;
  text-align: justify;
}

#logo {
  margin: 10px;
}

@keyframes scl {
  0% {
    transform: scale(1);
  }

  55% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

#logo:hover {
  animation: scl 0.7s;
}

@media screen and (max-width: 1029px) {
  .features_list {
    grid-template-columns: 1fr;
    padding: 20px 40px 30px 40px;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }
}

@media screen and (max-width: 420px) {
  .feature_info h2 {
    font-size: 20px;
  }

  .feature_info p {
    font-size: 17px;
  }

  .features_list {
    padding: 20px 20px 30px 20px;
  }
}

.services_container {
  background: #1b1b1b;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 70px;
}

.heading_services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 30px 20px;
}

.heading_services h1 {
  padding-bottom: 20px;
  color: white;
}

.heading_services p {
  color: #f6f6f6;
  text-align: justify;
}

.services_list {
  width: 100%;
  padding: 20px 90px 30px 90px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.service_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #e7e4e4;
  border-radius: 18px 70px;
  box-shadow: inset 4px 4px 3px #ff0844, inset -4px -4px 3px#ffb199;
}

.service_card h3 {
  padding: 15px;
}

.service_card p {
  text-align: left;
  padding-left: 20px;
}

.service_card a {
  padding: 10px;
  text-decoration: none;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .services_list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 1060px) {
  .services_list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 710px) {
  .services_list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .service_card {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .service_card {
    margin: 0 10px 0 10px;
    width: 280px;
  }
  .heading_services h1 {
    font-size: 25px;
  }
}

.service_card:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

/* loader animation */

.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.disappear {
  animation: vanish 1.5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0.3;
    visibility: hidden;
  }
}

.loader > div {
  background: linear-gradient(#ff0844, #ff6a00);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* About Us Container*/
.about_us_container {
  background: #0e0d0d;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;

  padding: 80px 20px 80px 20px;
}

#expandBtn {
  display: none;
}

.about_us {
  text-align: justify;
}

.about_us h1 {
  text-align: center;
  margin-bottom: 40px;
}

.about_us p {
  line-height: 30px;
}

.accordion_container {
  width: 100%;
  background: #0e0d0d;
  margin-top: 80px;
}

.accordion_container details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  line-height: 35px;
  background: linear-gradient(to right, black, #4e0505c0);
  outline: none;
}

.accordion_container details h3 {
  padding: 5px 0 18px 0;
  font-size: 23px;
}

.accordion_container summary {
  font-weight: bold;
  font-size: 25px;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
  outline: none;
}

details[open] {
  padding: 30px;
  background: radial-gradient(#610505ef, #000000c4);
  animation: opendet 0.5s ease-in-out;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  animation: opensum 1s ease-in-out;
  outline: none;
}

@keyframes opensum {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes opendet {
  0% {
    opacity: 0;
    transform: translateY(-0.2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

details summary::marker {
  color: #ff0844;
}

@media screen and (max-width: 960px) {
  .about_us_container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .accordion_container {
    margin-top: 30px;
  }

  #more {
    display: none;
  }

  #expandBtn {
    display: inline;
    padding: 10px;
    background: linear-gradient(to right, rgb(238, 77, 77), rgb(170, 166, 166));
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 20px;
    color: #000000;
  }
}

/* ContactUS */
.Contactus_container {
  width: 100%;
  display: flex;
  gap: 100px;
  padding: 100px 50px 100px 50px;
  background: #1b1b1b;
}

.tab_container {
  width: 50%;
  height: 100%;

  border-radius: 10px;
}
.map_block {
  width: 50%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: rgb(15, 15, 15);
  border-radius: 10px 10px 0 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: rgb(34, 34, 34);
}

/* Create an active/current tablink class */
.tab button.active {
  background: rgb(34, 34, 34);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 12px 6px 35px;
  border: 1px solid #ccc;
  border-top: none;
  background: rgb(255, 255, 255);
  line-height: 40px;

  border-radius: 0 0 10px 10px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent h2 {
  padding: 10px 0 10px 20px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* COntact Form */

.contact_form {
  width: 50%;
  height: 390px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 12px 24px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
  font-size: 16px;

  background: linear-gradient(to right, rgb(37, 37, 37), rgb(70, 69, 69))
    no-repeat;

  outline: none;
}

input[type="submit"] {
  background-color: #ec2727;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  /* margin-left: 120px; */
  width: 150px;
  font-size: 16px;

  display: block;
  margin: 0 auto;
  outline: none;
}

input[type="submit"]:hover {
  box-shadow: 0px 3px 10px black;
  transform: translate(0, -5px);
  transition: 0.4s all;
}

label {
  color: white;
}

.contact_form_container {
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(221, 42, 42),
    rgba(204, 84, 84, 0.637)
  );
  backdrop-filter: blur(10px);
  padding: 20px;
}

.thankyou_container {
  display: none;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9;
  border-radius: 15px;
  padding: 50px;
  background: linear-gradient(to right, rgb(82, 80, 80), rgb(124, 74, 74));
  font-size: 20px;
  color: rgb(13, 13, 14);
  text-shadow: 0 0 2px white;
}

.thankyou_container .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou_container button {
  padding: 10px;
  margin: 50px auto 0 auto;
  background: linear-gradient(to right, rgb(231, 68, 68), rgb(102, 74, 223));
  border: none;
  outline: none;
  font-size: 22px;
  color: white;
  font-weight: 600;
  width: 50%;
  border-radius: 25px;
}
.thankyou_container button:hover {
  box-shadow: 2px 2px 15px black;
}

@media screen and (max-width: 420px) {
  .thankyou_container {
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 5px white, inset 5px 5px 10px black;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 1300px) {
  .Contactus_container {
    width: 100%;
    flex-direction: column;
    padding: 150px 20px 150px 20px;
  }

  .tab_container {
    width: 100%;
    height: 100%;
  }

  .contact_form {
    width: 100%;
  }

  .tabcontent {
    height: max-content;
  }
}

@media screen and (max-width: 420px) {
  .tabcontent {
    line-height: 28px;
  }
}

/* Footer Container */
.footer_container {
  background-color: #000000;
  color: #ffffffda;
  display: flex;
  flex-direction: column;
  padding: 80px 40px 80px 40px;
}

.foot_main_container {
  display: flex;
  height: 250px;
}

.foot_main_container .logo_container {
  line-height: 50px;
}

.footer_logo {
  width: max-content;
}

.footer_info_container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  line-height: 35px;
}

.footer_info_container h3 {
  padding-bottom: 10px;
  color: #fffffff1;
}

.footer_info_container ul {
  list-style: none;
}

.footer_info_container ul a {
  text-decoration: none;
  color: white;
}

.copy_right_container {
  color: #f6f6f665;
}

.footer_icons {
  font-size: 35px;
  height: 100%;
}

.footer_icons i.fa-facebook:hover {
  transition: 0.5s ease;
  color: rgb(42, 131, 233);
  transform: scale(1.5);
  text-shadow: 0 0 2px rgb(42, 131, 233);
}
.footer_icons i.fa-whatsapp:hover {
  transition: 0.5s ease;
  color: rgb(42, 233, 67);
  transform: scale(1.5);
  text-shadow: 0 0 2px rgb(42, 233, 67);
}
.footer_icons i.fa-instagram:hover {
  transition: 0.5s ease;
  color: rgb(233, 42, 74);
  transform: scale(1.5);
  text-shadow: 0 0 2px rgb(233, 42, 74);
}
.footer_icons i.fa-twitter:hover {
  transition: 0.5s ease;
  color: rgb(17, 114, 224);
  transform: scale(1.5);
  text-shadow: 0 0 2px rgb(17, 114, 224);
}

.footer_icons ul li {
  transition: 1s ease-in;
  padding: 10px;
}

.footer_icons ul li:last-child {
  padding: 10px 10px 0 10px;
}

@media screen and (max-width: 960px) {
  .foot_main_container .logo_container {
    padding: 0 0 20px 0;
    width: 100%;
    line-height: 50px;
    border-bottom: 0.3px solid #ffffffc2;
  }
  .foot_main_container {
    flex-direction: column;
    margin: 50px 50px 200px 50px;
    height: 250px;
  }

  .footer_info_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    border-bottom: 0.3px solid #ffffffc2;
    padding: 50px 0 50px 0;
  }
  .footer_container {
    width: auto;
    padding: 30px;
  }
  .copy_right_container {
    margin: 20px 0 50px 20px;
  }
}

@media screen and (max-width: 550px) {
  .footer_info_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 30px;
    padding: 50px 0 20px 0;
    margin-bottom: 80px;
  }

  .footer_info_container .visit {
    margin-right: -25px;
  }
  .footer_info_container .Legal {
    margin-left: -25px;
  }
  .footer_info_container .explore {
    margin-left: -25px;
  }
  .footer_info_container .footer_icons {
    margin-right: -25px;
  }

  .footer_icons ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copy_right_container {
    margin: 200px 0 10px 20px;
    padding-bottom: 50px;
  }
}

/* Feedback container */

.feedback_container {
  display: none;
  position: fixed;

  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9;
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(to right, rgb(82, 80, 80), rgb(124, 74, 74));
}

.feedback_btn {
  border: none;
  outline: none;
  color: white;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.feedback_container .fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
}

.star-rating form {
  display: none;
}
.star-rating .thanks-msg {
  display: none;
  font-size: 20px;
  margin: 40px auto;
  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.1411764705882353);
  padding: 8px 20px;
  border-left: 3px solid #4caf50;
  border-radius: 20px;
}
.star-rating input {
  display: none;
}
.star-rating {
  margin: 50px auto;
  display: table;
  width: 350px;
}
.star-rating label {
  padding: 10px;
  float: right;
  font-size: 44px;
  color: #eee;
}
.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
  color: #ffc107;
}
.star-rating input:checked ~ label {
  color: #ffc107;
}
.star-rating form .rating-reaction:before {
  width: 100%;
  float: left;
  color: #ffc107;
}
.star-rating #rating-1:checked ~ form .rating-reaction:before {
  content: "I hate it";
}
.star-rating #rating-2:checked ~ form .rating-reaction:before {
  content: "I don't like it";
}
.star-rating #rating-3:checked ~ form .rating-reaction:before {
  content: "It is good";
}
.star-rating #rating-4:checked ~ form .rating-reaction:before {
  content: "I like it";
}
.star-rating #rating-5:checked ~ form .rating-reaction:before {
  content: "I love it";
}
.star-rating input:checked ~ form {
  border-top: 1px solid #ddd;
  width: 100%;
  padding-top: 15px;
  margin-top: 15px;
  display: inline-block;
}
.star-rating form .rating-reaction {
  font-size: 24px;
  float: left;
  text-transform: capitalize;
}
.star-rating form .submit-rating {
  border: none;
  outline: none;
  background: #795548;
  color: #ffc107;
  font-size: 18px;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  float: right;
}
form .submit-rating:hover {
  background-color: #333;
}

@media screen and (max-width: 460px) {
  .star-rating {
    width: 280px;
  }
  .star-rating label {
    font-size: 30px;
  }
  .star-rating form .rating-reaction {
    font-size: 20px;
  }
}
